mixin summary(id, title, sample='نمونه')
    .summary(id= id)
        h3
            .crumb 
                .in
            =`${title}`
        .items 
            .item= sample
            .item= sample
            .item= sample
            .item= sample
        button مشاهده