mixin summary(id, title, sample=[1,2])
    .summary(id= id)
        h3
            .crumb 
                .in
            =`${title}`
        .items 
            each i in sample
                .item= i
        button بستن



mixin comment(user, text, type=false)
    div(class=type?'others':'')
        .icon(data-user=user)
        span
            =text