mixin summary(id, title, sample=[1,2])
    .summary(id= id)
        h3
            .crumb 
                .in
            =`${title}`
        .items 
            each i in sample
                .item= i
        button بستن



mixin comment(user, text, id, type=false)
    div(class=type?'others':'', data-id=id)
        .icon(data-user=user)
        span(data-time="12:45 am")
            =text
            i.fas.fa-reply